config.stopBubbling = true # Root config file

# For jacoco
lombok.addLombokGeneratedAnnotation = true

# Only allow slf4j
lombok.log.log4j.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.xslf4j.flagUsage = ERROR

